@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  color: #fff;
  background-color: #ff3232;
}

::-webkit-scrollbar {
  width: 5px;
  /* height: 5px; */
  border-radius: 25px;
  /* background: #ff3232; */
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background: #ff3232;
}

/* Utilities */
a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
}

.container li {
  list-style: none;
}

.container li a {
  padding: 0.3rem 1.4rem;
}

.fas {
  margin-right: 0.3rem;
}

/* Body */
body {
  width: 100vw;
  font-family: "Roboto", sans-serif;
  line-height: 1.7;
  background-color: #eee;
  height: 100vh;
  color: #fff;
  position: relative;
  overflow-x: hidden;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 0.8rem 1.5rem;
  background-color: #000000;
}

.header .logo {
  cursor: pointer;
}

.header .search-bar {
  position: relative;
  width: 30%;
  /* transform: translateX(-50%); */
}

.header .search-bar input {
  padding: 1rem 0rem 1rem 2.4rem;
  border-radius: 0.6rem;
  caret-color: #ff3232;
  outline: 0;
  border: 0;
  width: 100%;
  font-size: 0.9rem;
}

.header .search-bar .fa-search {
  position: absolute;
  top: 50%;
  left: 0.8rem;
  transform: translateY(-50%);
  color: #333;
}

.header .create-post button {
  padding: 0.8rem 1.8rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  border: 0;
  outline: 0;
  background-color: #ff3232;
  color: #fff;
  transition: background-color 0.3s ease;
}

.header .create-post button:hover {
  background-color: #dd1010;
}

.header .admin {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

.header .admin img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.header .admin .admin-info {
  position: absolute;
  visibility: hidden;
  top: 130%;
  right: 0;
  padding: 1.5rem 2rem;
  width: 300px;
  background-color: #fff;
  border-radius: 0.9rem;
}

.header .admin .admin-info.visible {
  transition: visibility 0.2s ease;
  visibility: visible;
}

.header .admin .admin-info:before {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 15px;
  width: 20px;
  height: 10px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='10' fill='none' viewBox='0 0 20 10'%3E%3Cpath d='M6.927 1.687L0 10h20l-6.927-8.313a4 4 0 0 0-6.146 0z' fill='%23fff'/%3E%3C/svg%3E")
    no-repeat 50% 50%/100% auto;
}

.header .admin .admin-info a {
  display: inline-block;
  padding: 0.9rem 1.5rem;
  color: #333;
  font-weight: bold;
  opacity: 0.7;
  transition: opacity 0.2s ease;
  width: 100%;
}

.header .admin .admin-info a:last-child {
  border-top: 1px solid #333;
}

.header .admin .admin-info a:hover {
  opacity: 1;
}

.article {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  /* display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 1rem;
  height: 100%; */
}

.article .aside-bar {
  position: sticky;
  top: 0;
  background-color: #fff;
  height: 100vh;
}

.article .section {
  height: 100%;
  margin: 0 auto;
  padding: 1.5rem 2rem;
}

.article .aside-bar a {
  font-weight: bold;
  color: #333;
  display: block;
  padding: 1rem 2rem;
  white-space: nowrap;
}

.article .aside-bar > a {
  opacity: 0.6;
  transition: opacity 0.2s ease;
}

.article .aside-bar > a:hover {
  opacity: 1;
}

.article .aside-bar .posts.active .post-data {
  display: block;
}

.article .aside-bar .top-element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  vertical-align: auto;
  padding: 1rem 2rem;
  cursor: pointer;
}

.article .aside-bar .top-element > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.article .aside-bar .top-element > div i {
  margin-right: 0.3rem;
}

.article .aside-bar .top-element a {
  padding: 0;
}

.article .aside-bar .post-data a,
.article .aside-bar .top-element {
  opacity: 0.6;
  transition: opacity 0.2s ease;
}

.article .aside-bar .post-data {
  display: none;
}

.article .aside-bar .top-element:hover,
.article .aside-bar .post-data a:hover {
  opacity: 1;
}

.article .aside-bar .fas {
  cursor: pointer;
  color: #333;
}

/* .article .aside-bar .fa-plus {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px double #333;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: transparent;
  transition: border 0.5s ease;
}

.article .aside-bar .fa-plus:hover {
  border: 3px solid #333;
} */

/* Dashboard Home Content */
.dashboard-title {
  margin-bottom: 1rem;
}

.dashboard-content {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 1rem;
  border-radius: 0.8rem;
  padding: 1.5rem 2rem;
  background-color: #ddd;
  width: 100%;
}

.statistic-handler {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.popular-product,
.statistic,
.product-view,
.customers-handler {
  background-color: #fff;
  padding: 1.2rem 1.5rem;
  border-radius: 0.8rem;
}

.statistic {
  position: relative;
  width: 230px;
  height: 120px;
  font-size: 1.6rem;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}

.product-view {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}

.statistic:first-child {
  margin-right: 0.9rem;
}

.statistic .rate {
  position: absolute;
  right: 4px;
  top: 4px;
  font-size: 0.8rem;
  font-weight: bold;
}

.statistic .rate.positive,
.popular-product .popular-products li div .disponibility.available {
  color: #0a0;
  background-color: #0f0;
  border-radius: 0.8rem;
  padding: 0.3rem;
}

.statistic .rate.negative,
.popular-product .popular-products li div .disponibility.unavailable {
  color: #a00;
  background-color: #f00;
  border-radius: 0.8rem;
  padding: 0.3rem;
}

.statistic .statistic-block {
  display: flex;
}

.statistic .statistic-block .statistic-icon {
  margin-right: 1rem;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff3232;
}

.statistic .statistic-block .statistic-icon .fas {
  margin: 0;
  color: #fff;
}

.statistic .statistic-block div .statistic-count {
  font-size: 3rem;
}

.statistic .statistic-block div .statistic-heading {
  font-size: 1rem;
}

.popular-product-heading {
  margin-bottom: .3rem;
}

.popular-product .popular-products li {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding: 0.9rem 1rem;
  height: 100%;
  font-size: 0.8rem;
  white-space: nowrap;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.4);
  margin-bottom: 1.4rem;
  border-radius: 0.8rem;
}

.popular-product .popular-products li:last-child {
  margin-bottom: 0;
}

.popular-product .popular-products li div {
  position: relative;
  margin-left: 0.9rem;
  text-transform: uppercase;
  height: 100%;
}

.popular-product .popular-products li div .disponibility {
  display: inline-block;
  font-size: 0.7rem;
  font-weight: bold;
}

.customers-handler {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.customer-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #333;
  margin-right: 3rem;
  width: 80%;
}

.customers-handler .profile-picture {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-bottom: 0.5rem;
}

.customers-handler .profile-picture img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.customers-handler span {
  text-align: center;
  display: block;
  font-weight: bold;
}

.icon-handler {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon-handler .profile-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ddd;
  text-align: center;
}

.icon-handler .profile-icon .fas {
  font-size: 1.4rem;
  color: #333;
  text-align: center;
  display: contents;
}

.icon-handler span {
  font-weight: bold;
  color: #000;
}

.hover-effect:hover {
  border: 2px solid #ff3232;
}

.select-cat{
  margin-bottom: 20px;
}

@media screen and (max-width: 1035px) { 
  .article {
    grid-template-columns: 0.25fr 4fr;
    grid-gap: 0;
    width: 100%;
  }

  .article .section {
    padding: 0.5rem 1rem;
    width: 100%;
  }

  .dashboard-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0.8rem;
    background-color: transparent;
    width: 90%;
    margin: 0 auto;
  }

  .content-handler {
    margin-bottom: 2rem;
    width: 100%;
  }

  .create-post {
    display: none;
  }

  .search-bar {
    display: none;
  }

  .dashboard-title {
    margin-bottom: 1rem;
    text-align: center;
  }

  .statistic-handler {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
    width: 100%;
  }

  .statistic {
    /* width: 150px; */
    width: 60%;
    /* height: 70px; */
    font-size: 1rem;
    margin: 0;
    padding: 0.9rem;
  }

  .statistic:first-child {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .statistic .rate,
  .popular-product .popular-products li div .disponibility {
    padding: 0;
    /* font-size: 0.6rem; */
  }

  .statistic .statistic-block {
    display: flex;
  }

  .statistic .statistic-block .statistic-icon {
    width: 35px;
    height: 35px;
  }
  /* .statistic .statistic-block .statistic-icon i {
    width: 100%;
    height: 100%;
  } */

  .statistic .statistic-block div .statistic-count {
    font-size: 3rem;
  }

  .statistic .statistic-block div .statistic-heading {
    font-size: 0.75rem;
  }

  .popular-product {
    width: 100%;
    justify-content: none;
  }

  .popular-product .popular-products li {
    font-size: 0.5rem;
  }

  .popular-product .popular-products li img {
    width: 100;
  }

  .popular-product .popular-products li div {
    margin-left: 0.6rem;
  }

  .popular-product .popular-products li div .disponibility {
    font-size: 0.6rem;
  }

  .customers-handler {
    margin-right: 0.5rem;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
  }

  .customer-profile {
    margin: 0;
  }

  .customers-handler .profile-picture {
    width: 40px;
    height: 40px;
  }

  .icon-handler .profile-icon {
    width: 40px;
    height: 40px;
  }

  .icon-handler .profile-icon .fas {
    font-size: 1rem;
  }

  .hover-effect:hover {
    border: 1px solid #ff3232;
  }

  .icon-hover {
    position: relative;
    z-index: 100;
    font-weight: bold;
  }

  .icon-hover .icon-title {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 70%;
    top: 50%;
    transform: translateY(-50%);
    color: #333;
    background-color: #c8c2b2;
    transition: all 0.3 ease;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
  }

  .icon-hover:hover .icon-title {
    opacity: 1;
    visibility: visible;
    white-space: nowrap;
  }
}
