<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Agence immobilière à Marrakech, vente et location villa, appartement, propriété de prestige, Riad, terrain."
    />
    <meta
      name="keywords"
      content="vente et location villa, immobilier Marrakech, Riad, palmeraie, agence immobilière, vente villa, immobilier de luxe, investissement immobilier, Agence Immobilière Marrakech, A vendre Marrakech, Appartement à vendreappartement à vendre villa marrakech"
    />
    <meta name="author" content="Ortega Jean Marie" />
    <meta
      property="og:description"
      content="Laforain immobilier, agence immobilière à marrakech, achat location vente de biens immobiliers au maroc, riad, villa, terrain, maison, bureaux, appartement, ainsi qu'un service de construction et de rénovation."
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="shortcut icon" type="image/svg" href="images/ortega.png">

    <!-- <link rel="stylesheet" href="https://kit.fontawesome.com/32c5dcb0c1.css" crossorigin="anonymous"> -->

    <link rel="stylesheet" href="css/style.css"/>
    <script src="js/lamarti.js" defer></script>
    <link rel="stylesheet" href="https://kit.fontawesome.com/d09f9a669c.css" crossorigin="anonymous">
    <title>Agence Immobilière Marrakech pour des biens de luxe</title>
  </head>
<body>



  <div class="container">
    <header class="header">
      <div class="overlay"></div>
      <div class="navigation">
        <div class="logo">
          <a href="index.html">
            <img width="150" src="images/LOGO WHITE.png" alt="logo" />
          </a>
        </div>
        <nav class="navbar">
          <ul class="menu">
            <li>
              <a href="#">VENTE</a>
              <i class="fas fa-caret-down"></i>
              <ul class="places">
                <li><a href="#">Marakkech</a></li>
                <li><a href="#">Agadir</a></li>
              </ul>
            </li>
            <li>
              <i class="fas fa-caret-down"></i>
              <a href="#">LOCATION</a>
              <ul class="places">
                <li><a href="#">Marakkech</a></li>
                <li><a href="#">Agadir</a></li>
              </ul>
            </li>
            <li><a href="#">LOCATION SAISONIERE</a></li>
            <li><a href="#">CREDIT</a></li>
            <li><a href="#">NOUS CONTACTER</a></li>
            <!-- <li><a href="#">A PROPOS</a></li>
            <li><a href="#">SIGN IN</a></li>
            <li><a href="#">SIGN UP</a></li> -->
          </ul>
        </nav>
      </div>
      <div class="search-bar">
        <form action="#" method="" class="form">
          <label for="search"
            >Trouvez des propriétés à louer ou à vendre aux MAROC sur LAFORAIN
            immobilier</label
          >
          <div class="search-handler">
            <div class="text-search">
              <input
                type="text"
                name="search"
                id="search"
                placeholder="Ville, région ou bâtiment"
                required
              />
              <i class="fas fa-search search-icon"></i>
            </div>
            <div class="select-handler">
              <i class="fas fa-chevron-down arrow-down"></i>
              <label class="label-arrow">Type de propriété</label>
              <ul class="property-type select">
                <li class="current">Type de propriété</li>
                <li>RIAD & MAISONS D'HÔTES</li>
                <li>VILLAS & PALAIS</li>
                <li>APPARTEMENTS & DUPLEX</li>
                <li>TERRAINS & FERMES</li>
                <li>PROGRAMMES NEUFS</li>
                <li>LOCAL COMMERCIAL</li>
              </ul>
            </div>
            <div class="select-handler">
              <i class="fas fa-chevron-down arrow-down"></i>
              <label class="label-arrow">Opération</label>
              <ul class="choices select">
                <li class="current">Opération</li>
                <li>Vente</li>
                <li>Location</li>
                <li>Location Saisonnières</li>
              </ul>
            </div>
            <button type="submit">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </form>
      </div>
    </header>
  </div>



<section class="catalog-slider">
    <div class="slider-out">
        <div class="slider-in">
            <div class="img-container card-1">
              <div class="slider-in-image"><img src="images/villa-a-louer-19.jpg" alt=""></div>
              <div class="slider-in-image"><img src="images/Villa-Piscine.png" alt=""></div>
              <div class="slider-in-image"><img src="images/villa-a-louer-8.jpg" alt=""></div>
              <button class="slider-btn-nav slider-btn-right"><i class="fa-solid fa-chevron-right"></i></button>
              <button class="slider-btn-nav slider-btn-left"><i class="fa-solid fa-chevron-left"></i></button>
              <div class="dots"></div>
            </div>
            <div class="slider-in-text">
                <span>Apartement</span>
                <h2>2,546,763 MAD</h2>
                <p>STUNING BALCONY VEIW / SPACIOUS 2 BEDS / KITCHEN EQUIPPED / GREAT</p>
                <ul>
                    <li>2 Bedrooms</li>
                    <li>3 Bathrooms</li>
                    <li>2000 m</li>
                </ul>
                <div class="slider-btns">
                    <button class="slider-btn"><i class="fa-solid fa-phone"></i> call</button>
                    <button class="slider-btn"><i class="fa-solid fa-envelope"></i></i> email</button>
                    <button class="slider-btn"><i class="fa-brands fa-whatsapp"></i></i> whatsapp</button>
                </div>
            </div>
        </div>
        <div class="slider-in">
            <div class="img-container card-2">
              <div class="slider-in-image"><img src="images/Villa-Piscine.png" alt=""></div>
              <div class="slider-in-image"><img src="images/villa-a-louer-8.jpg" alt=""></div>
              <div class="slider-in-image"><img src="images/villa-a-louer-19.jpg" alt=""></div>
              <button class="slider-btn-nav slider-btn-right"><i class="fa-solid fa-chevron-right"></i></button>
              <button class="slider-btn-nav slider-btn-left"><i class="fa-solid fa-chevron-left"></i></button>
              <div class="dots"></div>
            </div>
            <div class="slider-in-text">
                <span>Apartement</span>
                <h2>2,546,763 MAD</h2>
                <p>STUNING BALCONY VEIW / SPACIOUS 2 BEDS / KITCHEN EQUIPPED / GREAT</p>
                <ul>
                    <li>2 Bedrooms</li>
                    <li>3 Bathrooms</li>
                    <li>2000 m</li>
                </ul>
                <div class="slider-btns">
                    <button class="slider-btn"><i class="fa-solid fa-phone"></i> call</button>
                    <button class="slider-btn"><i class="fa-solid fa-envelope"></i></i> email</button>
                    <button class="slider-btn"><i class="fa-brands fa-whatsapp"></i></i> whatsapp</button>
                </div>
            </div>
        </div>
        <div class="slider-in">
            <div class="img-container card-3">
              <div class="slider-in-image"><img src="images/villa-a-louer-19.jpg" alt=""></div>
              <div class="slider-in-image"><img src="images/Villa-Piscine.png" alt=""></div>
              <div class="slider-in-image"><img src="images/villa-a-louer-8.jpg" alt=""></div>
              <button class="slider-btn-nav slider-btn-right"><i class="fa-solid fa-chevron-right"></i></button>
              <button class="slider-btn-nav slider-btn-left"><i class="fa-solid fa-chevron-left"></i></button>
              <div class="dots"></div>
            </div>
            <div class="slider-in-text">
                <span>Apartement</span>
                <h2>2,546,763 MAD</h2>
                <p>STUNING BALCONY VEIW / SPACIOUS 2 BEDS / KITCHEN EQUIPPED / GREAT</p>
                <ul>
                    <li>2 Bedrooms</li>
                    <li>3 Bathrooms</li>
                    <li>2000 m</li>
                </ul>
                <div class="slider-btns">
                    <button class="slider-btn"><i class="fa-solid fa-phone"></i> call</button>
                    <button class="slider-btn"><i class="fa-solid fa-envelope"></i></i> email</button>
                    <button class="slider-btn"><i class="fa-brands fa-whatsapp"></i></i> whatsapp</button>
                </div>
            </div>
        </div>
        <div class="slider-in">
            <div class="img-container card-4">
              <div class="slider-in-image"><img src="images/villa-a-louer-19.jpg" alt=""></div>
              <div class="slider-in-image"><img src="images/villa-a-louer-8.jpg" alt=""></div>
              <div class="slider-in-image"><img src="images/Villa-Piscine.png" alt=""></div>
              <button class="slider-btn-nav slider-btn-right"><i class="fa-solid fa-chevron-right"></i></button>
              <button class="slider-btn-nav slider-btn-left"><i class="fa-solid fa-chevron-left"></i></button>
              <div class="dots"></div>
            </div>
            <div class="slider-in-text">
                <span>Villa-Piscine</span>
                <h2>2,546,763 MAD</h2>
                <p>STUNING BALCONY VEIW / SPACIOUS 2 BEDS / KITCHEN EQUIPPED / GREAT</p>
                <ul>
                    <li>2 Bedrooms</li>
                    <li>3 Bathrooms</li>
                    <li>2000 m</li>
                </ul>
                <div class="slider-btns">
                    <button class="slider-btn"><i class="fa-solid fa-phone"></i> call</button>
                    <button class="slider-btn"><i class="fa-solid fa-envelope"></i></i> email</button>
                    <button class="slider-btn"><i class="fa-brands fa-whatsapp"></i></i> whatsapp</button>
                </div>
            </div>
        </div>
    </div>
</section>



        <!--                   links for populaire                -->
        <div class="links">
          <div class="links-container">
            <h3>Popular Properties</h3>
            <ul>
              <li><a href="">Properties for rent in Marrakech</a></li>
              <li><a href="">Properties for rent in Marrakech</a></li>
              <li><a href="">Properties for sale in AGADIR</a></li>
              <li><a href="">Properties for rent in Marrakech</a></li>
              <li><a href="">Properties for sale in Marrakech</a></li>
              <li><a href="">Properties for rent in Marrakech</a></li>
            </ul>
          </div>
          <div class="links-container">
            <h3>Popular Searches</h3>
            <ul>
              <li><a href="">Properties for rent in Marrakech</a></li>
              <li><a href="">Properties for rent in Marrakech</a></li>
              <li><a href="">Properties for sale in AGADIR</a></li>
              <li><a href="">Properties for rent in Marrakech</a></li>
              <li><a href="">Properties for sale in Marrakech</a></li>
              <li><a href="">Properties for rent in Marrakech</a></li>
            </ul>
          </div>
          <div class="links-container">
            <h3>Trending Areas for Sale</h3>
            <ul>
              <li><a href="">Properties for rent in Marrakech</a></li>
              <li><a href="">Properties for rent in Marrakech</a></li>
              <li><a href="">Properties for sale in AGADIR</a></li>
              <li><a href="">Properties for rent in Marrakech</a></li>
              <li><a href="">Properties for sale in Marrakech</a></li>
              <li><a href="">Properties for rent in Marrakech</a></li>
            </ul>
          </div>
          <div class="links-container">
            <h3>Q & A</h3>
            <ul>
              <li><a href="">Properties for rent in Marrakech</a></li>
              <li><a href="">Properties for rent in Marrakech</a></li>
              <li><a href="">Properties for sale in AGADIR</a></li>
              <li><a href="">Properties for rent in Marrakech</a></li>
              <li><a href="">Properties for sale in Marrakech</a></li>
              <li><a href="">Properties for rent in Marrakech</a></li>
            </ul>
          </div>
        </div>








    <!--                   SEASONAL RENTALS                       -->

    <div class="Projects">
      <div class="Projects-txt">
        <h2>FEATURED PROJECTS IN  MORROCO</h2>
        <i class="fa-solid fa-chevron-left prev"></i>
        <i class="fa-solid fa-chevron-right next"></i>
      </div>
      <div class="seasons">
        <div class="season-container">
            <div class="season-top">
              <span>Feature</span> 
              <div class="season-img-container">
                <img class="season-img"  src="images/Villa-Piscine.png" alt="" width="357px" height="250px">
                  <img class="season-img"  src="images/header.jpg" alt="img" width="357px" height="250px">
                  <img class="season-img"  src="images/villa-a-louer-8.jpg" alt="" width="357px" height="250px">
              </div>
              <i class="fa-solid fa-chevron-left next-img season-btn-left"></i>
              <i class="fa-solid fa-chevron-right prev-img season-btn-right"></i>
              <div class="dots"></div>
            </div>
            <div class="season-bottom">
              <h3>Explorez la Médina</h3>
              <span class="start">Starting From</span><br>
              <span class="season-price">10 000 MAD</span>
            </div>
        </div>
        <div class="season-container">
          <div class="season-top">
            <span>Feature</span>
            <div class="season-img-container">
              <img class="season-img" src="images/header.jpg" alt="img" width="357px" height="250px">
              <img class="season-img"  src="images/Villa-Piscine.png" alt="" width="357px" height="250px">
                <img class="season-img"  src="images/villa-a-louer-8.jpg" alt="" width="357px" height="250px">
            </div>
            <i class="fa-solid fa-chevron-left next-img season-btn-left"></i>
            <i class="fa-solid fa-chevron-right prev-img season-btn-right"></i>
            <div class="dots"></div>
          </div>
          <div class="season-bottom">
            <h3>Explorez la Médina</h3>
            <span class="start">Starting From</span><br>
            <span class="season-price">10 000 MAD</span>
          </div>
      </div>
        <div class="season-container">
          <div class="season-top">
            <span>Feature</span>
            <div class="season-img-container">
              <img class="season-img"  src="images/villa-a-louer-8.jpg" alt="" width="357px" height="250px">
                <img class="season-img" src="images/header.jpg" alt="img" width="357px" height="250px">
                <img class="season-img"  src="images/Villa-Piscine.png" alt="" width="357px" height="250px">
            </div>
            <i class="fa-solid fa-chevron-left next-img season-btn-left"></i>
            <i class="fa-solid fa-chevron-right prev-img season-btn-right"></i>
            <div class="dots"></div>
          </div>
          <div class="season-bottom">
            <h3>Explorez la Médina</h3>
            <span class="start">Starting From</span><br>
            <span class="season-price">10 000 MAD</span>
          </div>
        </div>
    </div>

    </div>

   



    <!--             Featured real estate agencies                -->

      <div class="collab-container">
        <h2>FEATURED REAL ESTATE AGENCIES</h2>
        <i class="fa-solid fa-chevron-left prev"></i>
        <ul class="companies">
            <li><a href="https://www.bioaxio.fr/"><img src="https://cdn1.zoomproperty.com/agency/logos/image_63ecbe1105cbd.jpeg" alt="" width="166px" height="50px" ></a></li>
            <li><a href="https://www.gralon.net/"><img src="https://www.gralon.net/img/logo-gralon.png" alt="" ></a></li>
            <li><a><img src="https://www.gralon.net/img/logo-gralon.png" alt="" width="150px" ></a></li>
            <li><a><img src="https://cdn1.zoomproperty.com/agency/logos/image_63ecbe1105cbd.jpeg" alt=""  width="166px" height="50px" ></a></li>
            <li><a><img src="https://www.gralon.net/img/logo-gralon.png" alt=""></a></li>
        </ul>
        <i class="fa-solid fa-chevron-right next"></i>
      </div>

    <!--                    footer                                 -->

   <footer class="footer-links">
      <a href="#container"><img class="logo" src="images/laforain_logo.png" width="150px" alt="logo-img"></a>
      <div class="footer-center">
          <ul class="links">
            <li><a href="#">My account</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Terms and Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Contact us</a></li>
          </ul>
          <p>&copy; <span class="date">2020-2023</span> Laforain Immobilier</p>
      </div>
      <div class="footer-right">
        <span>Follow US</span>
        <ul class="social-media">
            <li><a href="https://web.facebook.com/annonceslaforainimmobilier" target="_blank" ><i class="fa-brands fa-facebook-f"></i></a></li>
            <li><a href="https://twitter.com/LaforainI" target="_blank" ><i class="fa-brands fa-twitter"></i></a></li>
            <li><a href="https://www.instagram.com/laforain.immobilier/?hl=fr" target="_blank" ><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="https://www.pinterest.fr/business/hub" target="_blank" ><i class="fa-brands fa-pinterest"></i></a></li>
        </ul>
      </div>
        </div>

     

   </footer>
   <script src="js/script.js"></script>
   <script src="js/boubker1.js"></script>
  </body>
</html>
