<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Agence immobilière à Marrakech, vente et location villa, appartement, propriété de prestige, Riad, terrain."
    />
    <meta
      name="keywords"
      content="vente et location villa, immobilier Marrakech, Riad, palmeraie, agence immobilière, vente villa, immobilier de luxe, investissement immobilier, Agence Immobilière Marrakech, A vendre Marrakech, Appartement à vendreappartement à vendre villa marrakech"
    />
    <meta name="author" content="Ortega Jean Marie" />
    <meta
      property="og:description"
      content="Laforain immobilier, agence immobilière à marrakech, achat location vente de biens immobiliers au maroc, riad, villa, terrain, maison, bureaux, appartement, ainsi qu'un service de construction et de rénovation."
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="css/style.css" />
    <script src="app.js" defer></script>
    <title>Agence Immobilière Marrakech pour des biens de luxe</title>
  </head>
  <body>
    <div class="container">
      <header class="header">
        <div class="overlay"></div>
        <nav class="navigation">
          <div class="logo-handler">
            <h1 class="logo">
              <span class="logo-top">LAFORAIN</span>
              <span class="logo-bottom">International Real Estate</span>
            </h1>
          </div>
          <ul class="nav-bar">
            <li><a href="#">VENTE</a></li>
            <li><a href="#">LOCATION</a></li>
            <li><a href="#">LOCATION SAISONIERE</a></li>
            <li><a href="#">CREDIT</a></li>
            <li><a href="#">NOUS CONTACTER</a></li>
            <li><a href="#">A PROPOS</a></li>
          </ul>
        </nav>
        <form action="#" method="" class="form">
          <label for="search"
            >Trouvez des propriétés à louer ou à vendre aux MAROC sur LAFORAIN
            immobilier</label
          >
          <div class="search-handler">
            <input
              type="text"
              name="search"
              id="search"
              placeholder="Ville, région ou bâtiment"
            />
            <button type="submit">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </form>
      </header>
    </div>
  </body>
</html>
