<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Agence immobilière à Marrakech, vente et location villa, appartement, propriété de prestige, Riad, terrain."
    />
    <meta
      name="keywords"
      content="vente et location villa, immobilier Marrakech, Riad, palmeraie, agence immobilière, vente villa, immobilier de luxe, investissement immobilier, Agence Immobilière Marrakech, A vendre Marrakech, Appartement à vendreappartement à vendre villa marrakech"
    />
    <meta name="author" content="Ortega Jean Marie" />
    <meta
      property="og:description"
      content="Laforain immobilier, agence immobilière à marrakech, achat location vente de biens immobiliers au maroc, riad, villa, terrain, maison, bureaux, appartement, ainsi qu'un service de construction et de rénovation."
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://laforain-immobilier.com/img/favicon.ico?1619012160"
    />
    <link rel="stylesheet" href="css/home-header.css" />
    <link rel="stylesheet" href="css/products.css" />
    <link rel="stylesheet" href="css/home-footer.css" />
    <script src="js/lamarti.js" defer></script>
    <link
      rel="stylesheet"
      href="https://kit.fontawesome.com/d09f9a669c.css"
      crossorigin="anonymous"
    />
    <title>Agence Immobilière Marrakech pour des biens de luxe</title>
  </head>
  <body>
    <div class="container">
      <header class="header">
        <div class="berger-handler">
          <input type="checkbox" name="check" class="check" />
          <div class="berger-menu"></div>
        </div>
        <!-- <img class="bg-header" src="images/marakkechByNight.jpg" alt="" /> -->
        <div class="overlay"></div>
        <div class="navigation">
          <div class="header-logo">
            <a href="index.html">
              <img width="150" src="images/LOGO WHITE.png" alt="logo" />
            </a>
          </div>
          <nav class="navbar">
            <ul class="menu">
              <li><a href="index.html">Accueil</a></li>
              <li class="current">
                <a href="products.html">VENTE</a>
                <i class="fas fa-caret-down caret"></i>
                <ul class="places">
                  <li><a href="#">Marakkech</a></li>
                  <li><a href="#">Agadir</a></li>
                </ul>
              </li>
              <li>
                <i class="fas fa-caret-down caret"></i>
                <a href="#">LOCATION</a>
                <ul class="places">
                  <li><a href="#">Marakkech</a></li>
                  <li><a href="#">Agadir</a></li>
                  <li><a href="#">Marakkech</a></li>
                  <li><a href="#">Agadir</a></li>
                  <li><a href="#">Marakkech</a></li>
                  <li><a href="#">Agadir</a></li>
                  <li><a href="#">Marakkech</a></li>
                  <li><a href="#">Agadir</a></li>
                  <li><a href="#">Marakkech</a></li>
                  <li><a href="#">Agadir</a></li>
                </ul>
              </li>
              <li><a href="#">LOCATION SAISONIERE</a></li>
              <li><a href="#">CREDIT</a></li>
              <li><a href="contact-us.html">NOUS CONTACTER</a></li>
              <!-- <li><a href="#">A PROPOS</a></li>
            <li><a href="#">SIGN IN</a></li>
            <li><a href="#">SIGN UP</a></li> -->
            </ul>
          </nav>
        </div>
      </header>
      <article>
        <section class="section">
          <div class="img-handler">
            <span>disponible</span>
            <img
              src="https://laforain-immobilier.com/3311-home_default/marrakech-splendide-maison-d-hotes.jpg"
              alt="vente"
            />
            <i class="fas fa-chevron-left"></i>
            <i class="fas fa-chevron-right"></i>
          </div>
          <div class="content-handler"></div>
          <svg
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 250 250"
            xml:space="preserve"
          >
            <path
              d="M125,231.9c-10.8,0-41.7-16.7-68.8-40.7C10.9,151.1,1.4,115.1,1.4,92c0-18,7.1-36.5,19.5-50.6
            C34,26.4,51,18.1,68.9,18.1c22.9,0,43.7,11.4,56.1,29.8c12.4-18.4,33.1-29.8,56-29.8c0,0,0,0,0,0c17.9,0,35,8.3,48.2,23.3
            C241.5,55.6,248.6,74,248.6,92c0,23.1-9.5,59.1-54.9,99.1C166.7,215.1,135.8,231.9,125,231.9z M68.9,32.1
            c-30.7,0-53.6,31.6-53.6,59.9c0,20.2,8.6,51.8,49.8,88.3c27,24,54.6,37.3,59.9,37.5c5.3-0.2,32.8-13.5,59.8-37.5
            c41.2-36.5,49.8-68.2,49.8-88.3c0-28.3-22.9-59.9-53.7-59.9c-21.8,0.1-41.2,13.1-49.5,33.3c-1.1,2.6-3.6,4.3-6.5,4.3c0,0,0,0,0,0
            c-2.8,0-5.4-1.7-6.5-4.3C110.2,45.2,90.8,32.2,68.9,32.1z"
              class="bColrSvg"
            ></path>
          </svg>
        </section>

        <aside>
          <form class="search">
            <label for="search">Rechercher</label>
            <input
              type="text"
              class="search-bar"
              id="search"
              placeholder="Recherche une ville, propriété ..."
            />
          </form>
          <a href="#">Marrakech</a>
          <a href="#">Agadir</a>
          <a href="#">Safi</a>
        </aside>
      </article>
    </div>
    <!--                    footer                                 -->

    <footer class="footer-links">
      <div class="footer-container">
        <a href="#container"
          ><img
            class="logo"
            src="images/laforain_logo.png"
            width="150px"
            alt="logo-img"
        /></a>
        <div class="footer-center">
          <ul class="links">
            <li><a href="#">My account</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Terms and Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Contact us</a></li>
          </ul>
          <p class="copyright1">
            &copy;<span class="date">2020-2023</span> Laforain Immobilier
          </p>
        </div>
        <div class="footer-right">
          <span>Follow US</span>
          <ul class="social-media">
            <li>
              <a
                href="https://web.facebook.com/annonceslaforainimmobilier"
                target="_blank"
                ><i class="fa-brands fa-facebook-f"></i
              ></a>
            </li>
            <li>
              <a href="https://twitter.com/LaforainI" target="_blank"
                ><i class="fa-brands fa-twitter"></i
              ></a>
            </li>
            <li>
              <a
                href="https://www.instagram.com/laforain.immobilier/?hl=fr"
                target="_blank"
                ><i class="fa-brands fa-instagram"></i
              ></a>
            </li>
            <li>
              <a href="https://www.pinterest.fr/business/hub" target="_blank"
                ><i class="fa-brands fa-pinterest"></i
              ></a>
            </li>
          </ul>
        </div>
        <p class="copyright2">
          &copy;<span class="date">2020-2023</span> Laforain Immobilier
        </p>
      </div>
    </footer>
  </body>
</html>
