@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  color: #fff;
  background-color: #ff3232;
}

::-webkit-scrollbar {
  width: 5px;
  /* height: 5px; */
  border-radius: 25px;
  /* background: #ff3232; */
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background: #ff3232;
}

.global-container{
  margin: 0 auto;
  

}
/* Utilities */
a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
}

.container li {
  list-style: none;
}

 .header li a{
  padding: 0.3rem 1.4rem;
} 

/* Body */
body {
  width: 100vw;
  font-family: "Roboto", sans-serif;
  line-height: 1.7;
  background-color: #eee;
  height: 100vh;
  color: #fff;
  position: relative;
  overflow-x: hidden;
}

/* ****************************************************************************************** */
/* **************************************Home Page******************************************* */

/* Container */
.container {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.error-msg {
  position: absolute;
  top: 5rem;
  right: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 110;
  background-color: #fff;
  color: #333;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transform: translateX(120%);
  transition: transform .5s ease;
}

.error-msg.active {
  transform: translateX(0);
}

.error-msg p {
  
  padding: 1rem 2rem;
}

.error-msg i {
  color: #ff3232;
  font-size: 2rem;
  margin-left: 1rem;
}

.error-msg.active div {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ff3232;
  height: 4px;
  animation: loading 3s forwards linear;
}

@keyframes loading {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

/* Header */
.header {
  position: relative;
  width: 100%;
  background: url("../images/MaSnow.jpg") no-repeat center center/cover;
  padding: 0.5rem 0;
  margin-bottom: 2rem;
}

/* Overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

.berger-handler {
  display: none;
}

.ber-menu {
  display: none;
}

/* Navigation */
.navigation {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
  z-index: 1;
  font-weight: 500;
  margin-bottom: 5rem;
}

/* .logo {
  position: absolute;
  left: 2rem;
} */

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Menu */

.menu > li {
  position: relative;
  display: inline-block;
  /* padding: 0.3rem 1.4rem; */
  cursor: pointer;
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
  transition: background-color 0.3s ease;
  font-size: 0.9rem;
}

.menu > li.current {
  background-color: #ff3232;
}

.menu > li > ul {
  position: absolute;
  padding: 0.5rem 1rem; /*To Do*/
  background-color: #333;
  display: none;
  top: 100%;
  left: 0;
  border-bottom-right-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
}

.menu > li > ul li {
  padding: 0.5rem 1rem;
  white-space: nowrap;
}

.menu > li > ul {
  top: 100%;
  left: -1px;
  font-size: 0.9rem;
  cursor: pointer;
  text-align: left;
  max-height: 8rem;
  overflow: auto;
}

.places::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 25px;
  background: #ff3232;
}

.places::-webkit-scrollbar-track {
  background: #fff;
}

.places::-webkit-scrollbar-thumb {
  background: #ff3232;
}

.places {
  padding: 0;
}

.menu > li:hover {
  background-color: #ff3232;
  /* display: block; */
}

.menu li:hover .places {
  display: block;
}

.places li a {
  transition: color 0.1s ease;
}

.places li a:hover {
  color: #ff3232;
}

.menu li:nth-child(1) {
  position: relative;
}

/* ******************************************************* */
.admin {
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

.admin img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.admin .admin-info {
  position: absolute;
  visibility: hidden;
  top: 130%;
  right: 0;
  padding: 1.5rem 2rem;
  width: 300px;
  background-color: #fff;
  border-radius: 0.9rem;
}

.admin .admin-info.visible {
  transition: visibility 0.2s ease;
  visibility: visible;
}

.admin .admin-info:before {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 15px;
  width: 20px;
  height: 10px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='10' fill='none' viewBox='0 0 20 10'%3E%3Cpath d='M6.927 1.687L0 10h20l-6.927-8.313a4 4 0 0 0-6.146 0z' fill='%23fff'/%3E%3C/svg%3E")
    no-repeat 50% 50%/100% auto;
}

.admin .admin-info a {
  display: inline-block;
  padding: 0.9rem 1.5rem;
  color: #333;
  font-weight: bold;
  opacity: 0.7;
  transition: opacity 0.2s ease;
  width: 100%;
}

.admin .admin-info a:last-child {
  border-top: 1px solid #333;
}

.admin .admin-info a:hover {
  opacity: 1;
}
/* ******************************************************** */

.caret {
  position: absolute;
  right: 0.7rem;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
}

@media screen and (max-width: 1028px) {
  body {
    position: relative;
  }

  .navbar {
    opacity: 0;
    display: none;
    animation: anime1 0.3s linear;
  }

  @keyframes anime1 {
    0% {
      transform: scale(0);
      display: none;
      opacity: 0;
    }

    50% {
      display: block;
      opacity: 0.5;
      transform: scale(0.5);
    }

    100% {
      display: block;
      opacity: 1;
      transform: scale(1);
    }
  }

  .berger-handler {
    position: absolute;
    display: block;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    z-index: 100;
  }

  .berger-handler .check {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    z-index: 3;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    opacity: 0;
  }

  .berger-menu {
    position: relative;
    width: 2rem;
    height: 0.25rem;
    border-radius: 2rem;
    background-color: #fff;
    z-index: 2;
  }

  .berger-menu::before {
    content: "";
    position: absolute;
    top: 200%;
    width: 2rem;
    height: 0.25rem;
    border-radius: 2rem;
    background-color: #fff;
    z-index: 2;
  }

  .berger-menu::after {
    content: "";
    position: absolute;
    top: -200%;
    width: 2rem;
    height: 0.25rem;
    border-radius: 2rem;
    background-color: #fff;
    z-index: 2;
  }

  .header.show .navbar {
    position: fixed;
    top: 0;
    left: 0;
    transform: scale(1);
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .header.show .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #333;
  }

  .menu > li {
    margin-bottom: 1rem;
    border-radius: 4rem;
    position: relative;
  }

  .menu > li a {
    padding: 1rem 2rem;
  }

  .menu > li > ul {
    position: absolute;
    top: 0;
    left: 100%;
  }
}
