body {
  background-color: #fff;
}

/* Header */
.header {
  position: relative;
  width: 100%;
  background: #333;
  padding: 0.5rem 0;
  margin-bottom: 2rem;
  height: 4.1rem;
  z-index: 100;
}

.posts-handler {
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-gap: 1rem;
}

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section > div {
  position: relative;
  margin-bottom: 2rem;
}

.product-link {
  position: absolute;
  top: 0;
  left: 0.9rem;
  bottom: 0;
  right: 0;
  z-index: 1;
  cursor: pointer;
}

.post {
  position: relative;
  display: flex;
  border-radius: 1.5rem;
  background-color: #eee;
  margin-left: 0.9rem;
  transition: background-color 0.2s ease;
  color: #333;
  border: 1px rgba(0, 0, 0, 0.3) solid;
  border-left: 0;
}

.post.hover {
  background-color: #ccc;
}

/* Image handler */

.img-handler {
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  color: #fff;
  overflow: hidden;
  width: 30%;
  scroll-behavior: smooth;
}
.img {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.3s ease;
}

.img.invisible {
  opacity: 0;
}

.img img {
  object-fit: cover;
}

.img-handler img {
  width: 100%;
}

.img-handler span {
  position: absolute;
  display: inline-block;
  top: 0.7rem;
  left: 0.7rem;
  font-size: 0.7rem;
  background-color: #333;
  padding: 0.3rem 0.7rem;
  border-radius: 2rem;
  text-transform: uppercase;
  transition: all 0.2s ease;
  cursor: pointer;
  z-index: 1;
}

.img-handler span:hover {
  transform: scale(1.1);
}

.img-handler .fa-chevron-left,
.img-handler .fa-chevron-right {
  position: absolute;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 0.2s ease;
  z-index: 1;
}

.img-handler .fa-chevron-left:hover,
.img-handler .fa-chevron-right:hover,
.img-handler span:hover {
  color: #ff3232;
}

.img-handler .fa-chevron-left {
  left: 0.3rem;
}

.img-handler .fa-chevron-right {
  right: 0.3rem;
}

.img-handler img {
  object-fit: cover;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  height: 100%;
}

/* Parts are from twitter.com */

.HeartAnimation {
  position: absolute;
  right: -0.4rem;
  top: -0.4rem;
  /* padding-top: 2em; */
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/66955/web_heart_animation.png");
  background-repeat: no-repeat;
  background-size: 2900%;
  background-position: left;
  height: 5rem;
  width: 5rem;
  margin: 0 auto;
  cursor: pointer;
  z-index: 1;
}

.animate {
  animation: heart-burst 0.8s steps(28) forwards;
}

@keyframes heart-burst {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

/* Content Handler */
.content-handler {
  display: flex;
  flex-direction: column;
  padding: 1.4rem;
  font-size: 1.1rem;
  max-width: 90%;
}

.head-info {
  display: flex;
  flex-direction: column;
  z-index: 3;
}

.content-handler span {
  display: inline-block;
}

.content-handler .product-property {
  font-size: 1rem;
}

.content-handler .product-price {
  font-size: 1.8rem;
  font-weight: 500;
}

.product-position {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 0 0 3rem;
  font-weight: 500;
  z-index: 3;
}

.fa-location-dot {
  transition: color 0.2s ease;
}
.fa-location-dot.hover {
  color: #ff3232;
}

.product-position a {
  margin-left: 0.4rem;
  color: #333;
}
