@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  /* line-height: 1.7; */
  background-color: #eee;
  width: 100%;
  height: 100vh;
  color: #fff;
}

/* Utilies */
a {
    text-decoration: none;
    color: #fff;
}

/* Container */
.container {
    width: 100%;
    height: 100%;
  margin: 0 auto;
  /* padding: 0 20px; */
}

/* overlay */
.overlay {
    position: absolute;
    top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

/* Header */

.header {
    position: relative;
  background: url(../images/riad.jpg) no-repeat center center/cover;
  height: 400px;
}

.navigation {
    position: relative;
    z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 50px;
  margin-bottom: 80px;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    font-size: 30px;
    font-weight: 900;
}

.logo-top {
  color: #ff3232;
}

.logo-bottom {
    font-size: 13px;
}

.nav-bar {
    display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.nav-bar li {
    cursor: pointer;
}

.nav-bar li a {
    padding: 10px 15px;
    font-weight: 400;
}

.form {
    position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form label {
    margin-bottom: 30px;
    font-size: 20px;
}

.search-handler {
    position: relative;
  width: 60%;
  /* flex: 1; */
}

.search-handler input {
  width: 100%;
  padding: 20px 30px;
  border-radius: 30px;
  border: 0;
  font-size: 18px;
}

.search-handler input:focus {
    outline: 0;
}

.search-handler button {
    position: absolute;
  right: 5px;
  top: 5px;
  bottom: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 25px;
  border-radius: 50%;
  border: 0;
}


























/*slider*/

.catalog-slider{
  color: black;
}

.slider-out{
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 1rem; */
    /* flex-wrap: wrap; */
    /* background-color: rgb(30, 90, 143); */
    margin-bottom: 10rem;
}

.slider-in{
    width: 20rem;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
}

.img-item{
    width: 20rem;
}

.img-item img{
    width: 100%;
}

.slider-in-text{
    padding: 0 10px 20px 10px;
}

.slider-btns{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.slider-btn {
    padding: 5px 8px;
    border-radius: 5px;
    background-color: white;
}

.slider-in-text h2{
  margin: .5rem 0;
  font-size: 1.6rem;
}

.slider-in-text ul{
  display: flex;
    align-items: center;
    gap: 7px;
    font-size: .9rem;
    margin: .7rem 0;
}

.slider-in-text span{
  font-weight: 300;
  margin-left: 5px;
}

.slider-in-text p{
    font-weight: 700;
}





/******************  Companies collaborations style   *************/

.collab-container{
  margin: 4rem 2rem;
  position: relative;
}

.collab-container h2{
  text-align: center;
  color: gray;
  opacity: 0.6;
  margin: 4rem;
  text
}
.collab-container .companies{
  display: flex;
  justify-content: space-around;
  
}
.collab-container i{
  font-size: 1.5rem;
  color: gray;
  position: absolute;
  cursor: pointer;
  
}
.prev{
   left: 10px;
   transform: translateY(50%);
}
.next{
  right: 10px;
  transform: translateY(-167%);
}



/************ footer style ************ */



.footer-links{
  background-color: #f3f3f3;
  color:gray;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
}
.footer-links .logo{
  cursor: pointer;
}
.footer-center{
  font-size: 16px;
}
.links{
  display: flex;
  font-size: 15px;
  gap: 25px;
  padding: 0;
  margin-bottom: 13px;
}
.links li a{
  color: gray;
}
.footer-right span{
  margin-bottom: 14px;
}
.social-media{
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 0;
  margin-top: 14px;

}
.social-media li a{
  color:black;
  font-size: 18px;
}

.social-media li a:hover{
  color:#bd4f39;
}


