@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: "Roboto", sans-serif;
  /* line-height: 1.7; */
  /* background-color: #eee; */
  width: 100vw;
  height: 100vh;
  color: #fff;
  overflow-x: hidden;
}


/* Utilities */
a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

/* Body */
body {
  width: 100vw;
  font-family: "Roboto", sans-serif;
  line-height: 1.7;
  background-color: #eee;
  height: 100vh;
  color: #fff;
}

/* Container */
.container {
  width: 100%;
}

/* Header */
.header {
  margin-bottom: 4rem;
  position: relative;
  width: 100%;
  background: url("../images/MaSnow.jpg") no-repeat center center/cover;
  padding: 0.5rem 0;
}

/* Overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

/* Navigation */
.navigation {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
  z-index: 1;
  font-weight: 500;
  margin-bottom: 5rem;
}

.navbar {
  position: relative;
}

/* Menu */
.menu > li {
  position: relative;
  display: inline-block;
  padding: 0.3rem 1.4rem;
  cursor: pointer;
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
  transition: background-color 0.3s ease;
  font-size: 0.9rem;
}

.menu > li > ul {
  position: absolute;
  padding: 0.5rem 1rem;
  background-color: #333;
  display: none;
  top: 100%;
  left: 0;
  border-bottom-right-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
}

.menu > li > ul li {
  padding: 0.5rem 1rem;
}

.menu > li:hover {
  background-color: #ff3232;
}

.menu li:hover .places {
  display: block;
}

.menu li:nth-child(1) {
  position: relative;
}

.fa-caret-down {
  position: absolute;
  right: 0.7rem;
  top: 50%;
  transform: translateY(-50%);
}
.form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Form */

.form label {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 4rem;
  /* color: #fff; */
}

.search-handler {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 4rem 0.5rem;
  width: 80%;
  text-align: center;
  background-color: #fff;
  border-radius: 2rem;
  margin-bottom: 2rem;
}

.text-search {
  position: relative;
  width: 35%;
}

.text-search input {
  padding: 0.8rem 2rem;
  border-radius: 2rem;
  border: 0;
  outline: 0;
  font-size: 1rem;
  width: 100%;
  border: 1px #d6d6d6 solid;
}

.text-search input:focus {
  border-color: #ff3232;
}

.text-search input:valid ~ .search-icon {
  color: #ff3232;
}

.search-icon {
  position: absolute;
  left: 0.7rem;
  top: 50%;
  transition: color 0.3s ease;
  transform: translateY(-50%);
  color: #333;
}

.select-handler {
  position: relative;
  width: 25%;
  border: 1px #d6d6d6 solid;
  padding: 0.3rem 0.9rem;
  cursor: pointer;
  color: #333;
}

.select-handler:hover {
  border-color: #ff3232;
}

.select-handler.show .property-type,
.select-handler.show .choices {
  display: block;
}

.select-handler.show .arrow-down {
  color: #ff3232;
}

.property-type,
.choices {
  position: absolute;
  top: 100%;
  left: -1px;
  font-size: 0.9rem;
  width: 100%;
  cursor: pointer;
  border: #d6d6d6 1px solid;
  text-align: left;
  padding: 0.8rem 2rem;
  background-color: #fff;
  max-height: 6rem;
  overflow: auto;
}

.property-type::-webkit-scrollbar,
.choices::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 25px;
  background: #ff3232;
}

.property-type::-webkit-scrollbar-track,
.choices::-webkit-scrollbar-track {
  background: #fff;
}
.property-type::-webkit-scrollbar-thumb,
.choices::-webkit-scrollbar-thumb {
  background: #ff3232;
}

.property-type::-webkit-scrollbar-thumb,
.choices::-webkit-scrollbar-thumb {
  width: 5px;
  height: 5px;
  border-radius: 25px;
  position: fixed;
  z-index: 999;
  border-radius: 25px;
  width: 5px;
  background: #ff3232;
}
.property-type::-webkit-scrollbar,
.choices::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 25px;
  position: fixed;
  z-index: 999;
  background: #ff3232;
}

.arrow-down {
  position: absolute;
  width: 1rem;
  height: 1rem;
  right: 0.8rem;
  top: 50%;
  transform: translateY(-50%);
  transition: color 0.2s ease;
  z-index: 1;
}

.property-type,
.choices {
  position: absolute;
  display: none;
}

.select-handler label {
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  height: 50%;
  text-align: center;
}

.search-handler button {
  padding: 1rem;
  border-radius: 50%;
  outline: 0;
  border: 0;
  background-color: #ff3232;
  cursor: pointer;
}

/* introduction */

section{
  margin-bottom: 4rem;
}

.introduction{
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
  color: #464444;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 1s;
}

.introduction h2{
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  transition: all 3s ease-in;
}

.introduction p{
  line-height: 1.5rem;
}

.more {
  transition: all 1s ease-out;
  display: none;
}

.more.active {
  /* opacity: 1;
  position: relative; */
  display: inline;
}

.btn{
  display: block;
  background-color: #fc4848;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: .8rem 2rem;
  margin: 1rem 3rem;
  font-size: .9rem;
  cursor: pointer;
}


/*slider*/

.slider-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.catalog-slider {
  color: black;
  position: relative;
}

.catalog-slider h2 {
  margin: 2rem 4rem;
  text-decoration: underline solid 5px #ff3232;
  color: #3b3b3b;
}

.catalog-slider .explore {
  position: absolute;
  top: -2%;
  right: 3%;
}

.slider-out{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
  /* background-color: rgb(30, 90, 143); */
  margin-bottom: 10rem;
}

.slider-in {
  width: 17rem;
  /* margin: 10px 1.5rem; */
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0.2rem 0.2rem 10px rgba(68, 67, 67, 0.5)
}

.img-container{
  height: 14rem;
  width: 100%;
  /* background-color: blue; */
  margin-bottom: 0.5rem;
  background-size: cover;
  position: relative;

  /* transform: translateX(100%); */
}

.slider-in-image {
  width: 100%;
  height: 14rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  transition: transform 1s;
}

.slider-in-image img {
  height: 100%;
}

.slider-in-text {
  padding: 0 10px 20px 10px;
}

.slider-btns {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.slider-btn {
  padding: 5px 8px;
  border: 1px solid rgba(0, 0, 0, 0.616);
  border-radius: 5px;
  background-color: white;
  font-size: .9rem;
  cursor: pointer;
}


.slider-in-text h3 {
  margin: 0.5rem 0;
  font-size: 1.2rem;
}

.slider-in-text ul {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 0.7rem;
  margin: 5px 0.7rem;
}

.slider-in-text span {
  font-weight: 250;
  margin-left: 5px;
  font-size: .8rem;
}

.slider-in-text p {
  font-weight: 450;
}

.fa-whatsapp{
  color: rgb(20, 207, 20);
  font-weight: 900;
}

/* style the navigation buttons to navigate on the slider */

.slider-btn-nav {
  background-color: #e6e1e1;
  border: none;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  font-size: .8rem;
  font-weight: 900;
  color: rgb(61, 59, 59);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  cursor: pointer;
}

.slider-btn-right {
  right: 2px;
}

.slider-btn-left {
  left: 2px;
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: .6rem;
  width: .6rem;
  border-radius: 50%;
  margin-right: .5rem;
  cursor: pointer;
  transition: all 0.5s;

  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  /* background-color: #fff; */
  background-color: #e4e1e1;
  opacity: 1;
}

/**************************       Links      ********************/


.links{
  margin: 2rem;
}
.links {
  margin: 1rem;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.links-container h3 {
  color: black;
  margin-bottom: 0.8rem;
}
.links-container ul li a {
  color: #6610f2;
  margin-bottom: 0.5rem;
}


/*****************      season Stuffs               ********************/
.Projects{
  /* background-color: red; */
  padding: 10px
}

.Projects-txt {
  margin: 0 20px;
  position: relative;
  margin: 1rem;
  margin-top: 4rem;
}
.Projects-txt i {
  font-size: 1.4rem;
  color: rgb(162, 162, 162);
  position: absolute;
  cursor: pointer;
}

.Projects-txt .next{
  right: 6%;
  top: 41px;
}
.Projects-txt .prev{
  left: 90%;
  top: -8px;
}
.Projects-txt h2{
  text-align: center;
  color: gray;
  opacity: 0.6;
  margin: 2rem 1rem ;
  text-decoration:3px underline #6610f2;
}
.Projects-txt .next {
  right: 80px;
  top: 41px;
}
.Projects-txt .prev {
  left: 1100px;
  top: -8px;
}
.Projects-txt h2 {
  color: #222;
  opacity: 1;
  margin: 1rem;
  text-decoration: 4px underline #ff3232;

}
.seasons {
  display: flex;
  /* justify-content: space-around; */
  max-width: 1133px;
  width: 180%;
  margin: 0 auto;
  /* background-color: #b9b9b9; */
  overflow: hidden;
  

  
}
.season-container {
  max-width: 357px;
  max-height: 100%;

  /* background-color: #ff3232; */

  border-radius: 1rem;
  margin: 10px;
  box-shadow: 0.2rem 0.2rem 10px rgba(68, 67, 67, 0.3);
  /* transform: translateX(-120%); */
}

/* 
.season-container.transform{
  transform: translateX(700px);
  /* transform: translateX(-120%); */
/* }   */



.season-top {

  /* width="357px" height="250px */
  width: 357px;
  height: 250px;
  position: relative;
  overflow: hidden;
}
.season-top {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 357px;
  height: 250px;
  object-fit: cover;
  position: relative;
}
.season-top .season-img-container {
  display: flex;
  justify-content: center;
}
.season-top img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem; 
  transition: transform 1s;
  
}
.season-top i {
  position: absolute;
  font-size: 1rem;
  display: inline-block;
  padding: 0.5rem;
  background-color: transparent;
  cursor: pointer;
}
.season-top i:hover {
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-color: #ff3232;
}
.season-top .prev-img {
  /* transform: translate(-100%,330%); */
  top: 50%;
  right: 0;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.season-top .next-img {
  /* transform: translate(-1375%,330%); */
  top: 50%;
  left: 0;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
}
.season-top span {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  font-size: 0.9rem;
  background-color: #6610f2;
  padding: 5px 10px;
  border-radius: 1rem;
  display: inline-block;
}
.season-bottom {
  padding: 1rem;
  border: 1px solid rgba(60, 59, 59, 0.6);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-top: none;
}

.season-bottom:hover{
    background-color:#f8f9fa;
    cursor:pointer;
  }
.season-bottom:hover {
  background-color: #f8f9fa;
  cursor: pointer;
}
.season-bottom h3 {
  color: black;
  opacity: 0.8;
  margin-bottom: 1.5rem;
}
.season-bottom .start {
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  display: inline-block;
}
.season-bottom .season-price {
  font-size: 1.2rem;
  color: black;
  font-weight: bold;
}

 /****************** Email for news *****************/

 .newsletter{ 
  margin: 5rem;

 }
.newsletter-txt{
  width: 600px;
  margin:30px auto;
}
.newsletter-txt h2{
 text-align: center;
 color: #333;
 opacity: 1;
 margin: 2rem;
 text-decoration:4px underline #ff3232;
}
.newsletter-txt p{
   margin: 10px;
   color:rgba(0, 0, 0, 0.47);
}
.newsletter-txt .news-email{
 outline: none;
 width: 400px;
 height: 50px;
 padding: 10px 20px;
 border-radius: 30px;
 border: 1px #777 solid;
 font-size: 16px;
 margin-left: 10px;
 caret-color: #ff3232;
}
.newsletter-txt button{
  cursor: pointer;
  width: 140px;
  height: 50px;
  background-color:#ff3232;
  border: none;
  color: white;
  font-size: 17px;
  border-radius: 10px;
  border-radius: 30px;
}


/******************  Companies collaborations style   *************/


.collab-container {
  margin: 4rem 2rem;
  position: relative;
}
.collab-container h2 {
  text-align: center;
  color: gray;
  opacity: 0.6;
  margin: 4rem;

  text-decoration:4px underline #ff3232;

  text-decoration: 4px underline rgb(235, 203, 41);

}

.collab-container .companies {
  display: flex;
  justify-content: space-around;
}

.collab-container .companies {
  display: flex;
  justify-content: space-around;
  
}
.collab-container .companies a{
  cursor: pointer;
}
.collab-container i {
  font-size: 1.5rem;
  color: gray;
  position: absolute;
  cursor: pointer;
}
.prev {
  left: 10px;
  transform: translateY(50%);
}
.next {
  right: 10px;
  transform: translateY(-167%);
}

/************  footer style ************************ */

.footer-links {
  background-color: #f3f3f3;
  color: gray;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 140px;
}
.footer-links .logo {
  cursor: pointer;
}
.footer-center {
  font-size: 16px;
}
.links {
  display: flex;
  font-size: 15px;
  gap: 25px;
  padding: 0;
  margin-bottom: 13px;
}
.links li a {
  color: gray;
}
.footer-right span {
  margin-bottom: 14px;
}
.social-media {
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 0;
  margin-top: 14px;
}
.social-media li a {
  color: black;
  font-size: 18px;
}
.social-media li a:hover {
  color: #bd4f39;
}




/* hna dyal lmedia queries */

/*--------boubker media queries------------*/ 

@media (max-width: 930px) {
  section {
    font-size: 14px;
  }
  .catalog-slider h2 {
    text-decoration: underline solid 3px #ff3232;
    color: #3b3b3b;
    font-size: 1.2rem;
  }
  .btn{
    border-radius: 5px;
    padding: .6rem 1.2rem;
    margin: 1rem 2rem;
    font-size: .8rem;
  }
  .slider-header {
    /* width: 90%;
    margin: 1rem 0; */
    justify-content: space-around;
  }

}

@media (max-width: 670px) {
  /* .slider-header {
    flex-direction: column;
  } */
  .catalog-slider h2 {
    text-align: center;
  }
  .catalog-slider .explore{
    border-radius: 5px;
    padding: .9rem 1.5rem;
    margin: .2rem 1.2rem 2rem;
    font-size: .9rem;
    top: 101%;
    right: 50%;
    transform: translateX(52%);
  }
}